{
  "rules": {
    "singleQuote": true
  },
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["*.hbs", "*.handlebars"],
      "options": {
        "parser": "html",
        "singleQuote": false
      }
    }
  ]
}
